## Data Manipulation:
    - Data cleaning and transformation, 
    - dealing with missing values,
    - leveraging the functions apply, map, and filter.

In [1]:
import pandas as pd
import numpy as np
from IPython.display import * 
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.options.display.float_format = '{:,.2f}'.format

## Create a dataframe

In [2]:
df = pd.DataFrame({'x':[3,2,5], 'y':['Hello', 'Hi', 'Bye']}, 
                  index=['First', 'Second', 'Third'])
display(df)

        x      y
First   3  Hello
Second  2     Hi
Third   5    Bye

## Drop column/row

In [3]:
df.drop('Second', axis='rows')

       x      y
First  3  Hello
Third  5    Bye

In [4]:
df.drop('y', axis='columns')

        x
First   3
Second  2
Third   5

In [ ]:
df.drop('y', axis='columns', inplace=True)

In [ ]:
df

# We can drop rows or columns using axis=0,1

In [ ]:
df = pd.DataFrame({'x':[3,2,5], 'y':['Hello', 'Hi', 'Bye']}, 
                  index=['First', 'Second', 'Third'])

display(df.drop('First', axis=0))
display(df.drop('x', axis=1))

## Another example

In [ ]:
x = np.random.randn(20).reshape(5,4)

In [ ]:
df_rands = pd.DataFrame(x, 
                        index=list('atyxz'), 
                        columns=['c1', 'c2', 'c3', 'c4'])
display(df_rands) # Note the difference between "print" and "display"

In [ ]:
df_rands.drop(['a', 'y'], axis='rows', inplace=True) 
display(df_rands)

In [ ]:
df_rands.drop(['c2', 'c3'], axis='columns', inplace=True) 
display(df_rands)

In [ ]:
df_rands[df_rands.c4>0]

In [ ]:
df_rands[df_rands.c4<0]

## Replace data

In [ ]:
df = pd.DataFrame({'x':[1,5,4,8], 'y':['a', 'a', 'b', 'a']})
df

In [ ]:
df.x.replace(5, 55, inplace=True)
df

## Another way

In [ ]:
df = pd.DataFrame({'x':[1,5,4,8], 'y':['a', 'a', 'b', 'a']})
display(df)

df.x = np.where(df.x==5, 55, df.x)
df

# Another example of changing values

In [ ]:
xdf = pd.DataFrame({'Name':['SC', 'LJ', 'JM', 'KT', 'AD'], 
                    'Team':['GSW', 'LAL', 'GZ', 'GSW', 'LAL']})
xdf

In [ ]:
xdf['New_Team_Name'] = np.where(xdf.Team=='GSW', 'Golden State Warriors', xdf.Team) 
xdf

## Binning

In [ ]:
x = np.random.randint(20, 50, 20)
df = pd.DataFrame({'x':x})
df.head()

In [ ]:
def find_categ(x):
    if x>=20 and x<30:
        return 'low'
    elif x>=30 and x<40:
        return 'medium'
    elif x>=40 and x<50:
        return 'high'
    else:
        return None
df['categ_1'] = df.x.apply(lambda x: find_categ(x))
df.head()

In [ ]:
df['categ_2'] = pd.cut(df.x, bins=[19.999, 30, 40, 50.001], 
                      labels=['low', 'medium', 'high']
                      )
df.head()

# Cleanse and select important records from dataframes

In [ ]:
df = pd.DataFrame([
                        [1,      2,      10],
                        [3,      np.nan, 4],
                        [np.nan, np.nan, 5]
                       ], 
                       columns=list('ABC'))
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
%matplotlib inline
import seaborn as sns

sns.heatmap(df.isnull())

In [ ]:

df = pd.DataFrame([
                        [1,      2,      10],
                        [3,      np.nan, 4],
                        [np.nan, np.nan, 5]
                       ], 
                       columns=list('ABC'))

df.dropna()

## Deal with missing data: identify, replace, and eliminate records

In [ ]:
df

In [ ]:
df[df.A.notnull()]

In [ ]:
df[ (df.A.notnull()) & (df.B.isnull()) ]

## Drop all rows with nulls

In [ ]:
df

## Get all columns which do not have any NA's

In [ ]:
df.dropna(how='any', axis='columns')

## Get all rows which do not have any NA's

In [ ]:
df.dropna(how='any', axis='rows' )

## Drop nulls with certain number of nulls

In [ ]:
print('Original Data')
display(df)

In [ ]:
 df.dropna(thresh=2, axis='rows')  # Removes rows with at least two NA's

In [ ]:
df.dropna(thresh=2, axis='columns')  # Removes Columns with at least two NA's

In [ ]:
# Needs to get back to Vacili...

## Fill NA

In [ ]:
nu = np.nan

df = pd.DataFrame( [
                        [1, 2, 10],
                        [3, nu, 4],
                        [nu, nu, nu], 
                        [nu, 5, nu]
                       ], 
                       columns=list('ABC'))

display(df)

## Find the rows with at least one NULL

In [ ]:
df['NumberOfNulls'] = df.isnull().sum(axis='columns')
df[df.NumberOfNulls>0]

In [ ]:
df.drop(columns='NumberOfNulls', inplace=True)
df

In [ ]:
df.fillna(100)

In [ ]:
df

# To make these permanent in memory

In [ ]:
df.fillna(100, inplace=True)
df

## Fill the na with different values depend on the column (i.e. column A: nan--> 1, column B: nan--> 10)?

In [ ]:
df = pd.DataFrame( [
                        [1, 2, 10],
                        [3, nu, 4],
                        [nu, nu, nu], 
                        [nu, 5, nu]
                       ], 
                       columns=list('ABC'))



df.fillna({'A':df.A.mean(), 'B':df.B.min(), 'C':df.C.std() }, inplace=True)
df

## apply, map, and filter

In [ ]:
df = pd.DataFrame({'school':['SCU', 'Stanford', 'San Jose State University'], 'students':[250, 300, 280]})
df

## Add a column which show the number of characters in "school" other then whitespace

In [ ]:
df['NChars'] = df.school.apply(lambda x: len(x.replace(' ', '')))
df

In [ ]:
location = {'SCU':'Santa Clara', 'Stanford':'Palo Alto', 'San Jose State University':'San Jose'}
df['Location'] = df.school.map(location)
df

In [ ]:
list(filter(lambda x: x>250, df.students))